/* Global styles */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 10px; /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: transparent; /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: #f9004d; /* цвет плашки */
  border-radius: 20px; /*закругления плашки*/
  border: 2px solid white; /* padding вокруг плашки */
}

.App {
  display: flex;
  height: 100vh;
  background-color: #1c1c1c;
}

.sidemenu {
  flex: 0 0 80px;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #338fd1;
  color: #fff;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 20px;
  margin: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.side-menu-button:hover {
  background-color: #333333;
}

.chatbox {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #262626;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 20px;
  overflow: hidden;
}
.chatbox::-webkit-scrollbar {
  width: 10px; /* ширина scrollbar */
}
.chatbox::-webkit-scrollbar-track {
  background: transparent; /* цвет дорожки */
}
.chatbox::-webkit-scrollbar-thumb {
  background-color: #3163cf; /* цвет плашки */
  border-radius: 20px; /*закругления плашки*/
  border: 2px solid white; /* padding вокруг плашки */
}

.chat-log {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.chat-message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.incoming {
  justify-content: flex-end;
}

.incoming .avatar {
  background-color: #fff;
  /* background-image: url(./square.png); */
  height: 40px;
  width: 40px;
}

.incoming .avatar img {
  background-color: #fff;
  /* background-image: url(./square.png); */
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
}

.outgoing {
  justify-content: flex-start;
}

.outgoing .avatar {
  background-color: #fff;
  /* background-image: url(./square.png); */
  height: 40px;
  width: 40px;
}

.outgoing .avatar img {
  background-color: #fff;
  /* background-image: url(./square.png); */
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #2d88fe;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}

.message {
  background-color: #1c1c1c;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 70%;
}

.chat-input-holder {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #262626;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-evenly;
}

.chat-input-textarea {
  flex: 1;
  border: none;
  padding: 10px;
  background-color: #1c1c1c;
  color: #fff;
  border-radius: 20px;
  /* margin-right: 10px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 500px;
}

.mic-button {
  background-color: #1c1c1c;
  color: #fff;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 15px;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mic-button:hover {
  background-color: #333333;
}

.send-button {
  background-color: #333333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.send-button:hover {
  background-color: #1c1c1c;
}

/* Styles for phone screen sizes */
@media (max-width: 600px) {
  .App {
    flex-direction: column;
  }

  .sidemenu {
    flex: none;
    height: 80px;
  }

  .chatbox {
    flex: 1;
    border-radius: 10px;
  }

  .chat-log {
    padding: 15px;
  }

  .avatar {
    width: 30px;
    height: 30px;
    font-size: 14px;
    margin-right: 8px;
  }

  .message {
    padding: 8px;
    font-size: 14px;
  }

  .chat-input-holder {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
  }

  .chat-input-textarea {
    padding: 15px 15px;
    font-size: 14px;
    width: 180px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
  }

  .mic-button {
    font-size: 18px;
    padding: 15px;
    margin: 0 15px;
    background-color: #1c1c1c;
  }

  .send-button {
    padding: 15px 30px;
    font-size: 14px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0px;
  }
}

/* Additional styles for dark mode */
.dark-mode {
  background-color: #1c1c1c;
  color: #fff;
}

.dark-mode .sidemenu {
  background-color: #333333;
}

.dark-mode .side-menu-button {
  background-color: #262626;
  color: #fff;
}

.dark-mode .chatbox {
  background-color: #262626;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark-mode .chat-log {
  background-color: #262626;
}

.dark-mode .chat-message {
  margin-bottom: 15px;
}

.dark-mode .avatar {
  background-color: #333333;
  color: #fff;
}

.dark-mode .message {
  background-color: #1c1c1c;
  color: #fff;
}

.dark-mode .chat-input-holder {
  background-color: #262626;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.dark-mode .chat-input-textarea {
  background-color: #1c1c1c;
  color: #fff;
}

.dark-mode .mic-button {
  background-color: #262626;
  color: #fff;
}

.dark-mode .send-button {
  background-color: #333333;
  color: #fff;
}
